<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MALARIA</title>
  <link href="//fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="../static/css/style-starter.css">
</head>

<body>
  <!--header-->
  <header id="site-header" class="w3lhny-head fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg stroke px-0">
        <h1> <a class="navbar-brand" href="index.html">
            <span class="sublog">MALARIA</span>
          </a></h1>
        <!-- if logo is image enable this   
  <a class="navbar-brand" href="#index.html">
      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
  </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="margin-left:700px;">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
             
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li> -->

            <!-- <li class="nav-item @@contact__active">
              <a class="nav-link" href="/contactview">contactview</a>
            </li> -->

            
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/con">Contact</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/registration">Registration users</a>
            </li> -->

            

            <!-- <li class="nav-item @@contact__active">
              <a class="nav-link" href="/viewuser">viewusers</a>
            </li>  -->

            <!-- <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li> -->





            <!-- <li class="nav-item mr-lg-3 mr-4" title="Search"><a href="#search" class="search-btn"> -->
                <!-- <span class="fa fa-search" aria-hidden="true"></span></a></li> -->
            <!--/search-right-->
            <!-- search popup -->
            <div id="search" class="pop-overlay">
              <div class="popup">
                <form action="#" method="GET" class="w3l-hnyform d-sm-flex">
                  <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                  <button type="submit">Search</button>
                  <a class="close" href="#url">&times;</a>
                </form>
              </div>
            </div>
            <!-- /search popup -->
            <!--//search-right-->
          </ul>
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <!-- <i class="gg-sun"></i>
                  <i class="gg-moon"></i> -->
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!--/header-->
  <!-- main-slider -->
  <section class="w3l-main-slider" id="home">
    <div class="companies20-content">
      <div class="owl-one owl-carousel owl-theme">
        <div class="item">
          <li>
            <div class="slider-info banner-view bg bg2">
              <div class="banner-info">
                <div class="container">

                  <div class="banner-info-bg">
                    <h5>If you have symptoms of Malaria, seek medical attention immediately.</h5>
                    <p class="mt-md-4 mt-3">High fever ,
                      Profuse sweating ,
                      Headache ,
                      Abdominal pain ,
                      Muscle pain ,
                      Nausea ,
                      Vomiting .


                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info  banner-view banner-top1 bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">

                    <h5>Causes. </h5>
                    <p class="mt-md-4 mt-3">It is caused by a microscopic parasite which is transmitted by mosquitoes when they bite
                      Rarely the parasite can be transmitted by:
                      Organ transplant
                      Blood transfusion
                    </p>


                    <!-- <a class="btn btn-style btn-white mt-sm-5 mt-4 mr-2" href="#read"> Discover Now
                    </a>
                    <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="about.html">
                      Read More</a> -->
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info banner-view banner-top2 bg">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">

                    
                    <h5>Complications.</h5>
                    <p class="mt-md-4 mt-3">Breathing problems,Cerebral malaria,Organ failure,Anaemia,Low blood sugar.

                    </p>

                    <!-- <a class="btn btn-style btn-white mt-sm-5 mt-4 mr-2" href="#read"> Discover Now
                    </a>
                    <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="about.html">
                      Read More</a> -->
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info banner-view banner-top3 bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">
                    
                    <h5>Prevention</h5>
                    <p class="mt-md-4 mt-3">Use insecticides: Applying insecticide can kill adult mosquitoes.
                      Cover your body:Try to minimise body exposure by wearing dress
                      Apply creams or sprays:Mosquito repellent creams or sprays are available
                    </p>

                    
                    <!-- <a class="btn btn-style btn-white mt-sm-5 mt-4 mr-2" href="#read"> Discover Now
                    </a>
                    <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="about.html">
                      Read More</a> -->
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
    </div>
  </section>

  
  <!-- /main-slider -->
  <!-- home page block1 -->
  <!-- <section id="about" class="home-services pt-lg-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-users"></span>
              </div>
              <div class="info">
                <p>Protect</p>
                <h4><a href="#url">Qualified Team</a></h4>
              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-shield"></span>
              </div>
              <div class="info">
                <p>Help</p>
                <h4><a href="#url">Saved Species</a></h4>

              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">
          <div class="box-wrap">
            <div class="box-wrap-grid">
              <div class="icon">
                <span class="fa fa-globe"></span>
              </div>
              <div class="info">
                <p>World</p>
                <h4><a href="#url">Global Work</a></h4>

              </div>
            </div>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui eligendi vitae sit.</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->


  <!-- //home page block1 -->
  <!-- about page about section -->
  <section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-3">
        <div class="row">
          <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self">
            <!-- <h6 class="title-subhny">Save Us</h6> -->
            <h3 class="title-left mx-0">
              Malaria
              Infectious disease</h3>
            <p class="mt-md-4 mt-3">

              Malaria is a disease caused by a parasite. 
              The parasite is spread to humans through the bites of infected mosquitoes.
               People who have malaria usually feel very sick with a high fever and shaking chills.
                While the disease is uncommon in temperate climates, malaria is still common in tropical and subtropical countries. 


            </p>
            <!-- <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Read More</a> -->
          </div>
          <div class="col-lg-5 mt-lg-0 mt-4">
            <div class="position-relative">
              <img src="../static/images/b3.jpg" alt="" class="radius-image img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //about page about section -->
  <section class="w3l-index2" id="about1">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-6 left-wthree-img">
            <div class="position-relative">
              <img src="../static/images/bg2.jpg" alt="" class="radius-image img-fluid">

            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-5 pl-lg-5 align-self">
            <!-- <h6 class="title-subhny">key fact</h6> -->
            <h3 class="title-w3l">Key Facts</h3>
            <p class="mt-4">Key facts
              Malaria is a life-threatening disease caused by parasites that are transmitted to people through the bites of infected female Anopheles mosquitoes. It is preventable and curable.
              In 2020, there were an estimated 241 million cases of malaria worldwide.
              The estimated number of malaria deaths stood at 627 000 in 2020.
              The WHO African Region carries a disproportionately high share of the global malaria burden. In 2020, the region was home to 95% of malaria cases and 96% of malaria deaths. Children under 5 accounted for about 80% of all malaria deaths in the Region.
            </p>




             
            <!-- <p class="mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
              ultrices in ligula. Semper at tempufddfel.</p> -->
             <!-- <ul class="w3l-right-book mt-4"> -->
              <!-- <li><span class="fa fa-check" aria-hidden="true"></span>Pellen tesque libero ut justo</li> -->
              <!-- <li><span class="fa fa-check" aria-hidden="true"></span>Lorem ipsum dolor sit amet elit</li> -->
              <!-- <li><span class="fa fa-check" aria-hidden="true"></span>Pellen tesque libero ut justo</li> -->
            </ul>
            <!-- <a href="about.html" class="btn btn-style btn-primary mt-4">Read More</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>





 
  <!-- //testimonials section -->
  <!-- footer -->
  
  
  <footer class="w3l-footer-29-main">
    <div class="footer-29-w3l py-5">
      <div class="container py-lg-4">
        <div class="row footer-top-29">
          <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
            <div class="footer-logo mb-3">
              <!-- <a class="footer-brand-logo" >MALARIA<span class="sublog">RIA.</span></a> -->

            </div>
            <p>Your provider may recommend one or more of these diagnostic tests and procedures as part of an evaluation.
              <br>
              <br>

              Diagnosis is made based on the physical examination, symptoms, and blood test.</p>
            <div class="main-social-footer-29 mt-4">
              <!-- <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a> -->
              <!-- <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a> -->
              <!-- <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a> -->
              <!-- <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a> -->
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">

            <ul>
              <!-- <h6 class="footer-title-29">Usefull Links</h6> -->
              <!-- <li><a href="index.html">Home</a></li> -->
              <!-- <li><a href="about.html">About</a></li> -->
              <!-- <li><a href="services.html">Services</a></li> -->

              <!-- <li><a href="#who">Who We Are</a></li> -->

              <!-- <li><a href="contact.html">Contact us</a></li> -->
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
            <h6 class="footer-title-29"></h6>
            <!-- <ul>
              <li><a href="blog.html">Events</a></li>
              <li><a href="#petitions">Petitions</a></li>
              <li><a href="#member">
                  Membership</a></li>
              <li><a href="#donate">Donations</a></li>
              <li><a href="#help">Help</a></li>


            </ul> -->

          </div>
          <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
            <!-- <h6 class="footer-title-29">Instagram -->
            <!-- </h6> -->

            <!-- <ul class="w3linst-imgs row">
              <li class="col-4"><a href="#"><img src="../static/images/b1.jpg" alt="" class="radius-image img-fluid"></a>
              </li>
              <li class="col-4"><a href="#"><img src="../static/images/b2.jpg" alt="" class="radius-image img-fluid"></a>
              </li>
              <li class="col-4"><a href="#"><img src="../static/images/b3.jpg" alt="" class="radius-image img-fluid"></a>
              </li>
              <li class="col-4"><a href="#"><img src="../static/images/b4.jpg" alt="" class="radius-image img-fluid"></a>
              </li>
              <li class="col-4"><a href="#"><img src="../static/images/b5.jpg" alt="" class="radius-image img-fluid"></a>
              </li>
              <li class="col-4"><a href="#"><img src="../static/images/b6.jpg" alt="" class="radius-image img-fluid"></a>
              </li>

            </ul> -->

          </div>
        </div>
      </div>
    </div>


    
  <!-- //footer -->

    <!-- copyright -->
    <section class="w3l-copyright">
      <div class="container">
        <div class="row bottom-copies">
          <!-- <p class="col-lg-8 copy-footer-29">© 2020 Wildlive. All rights reserved. Design by <a
              href="https://w3layouts.com/" target="_blank">
              W3layouts</a></p> -->

          <div class="col-lg-4 footer-list-29">
            <ul class="d-flex text-lg-right">
              <!-- <li><a href="#careers"> Careers</a></li> -->
              <!-- <li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li> -->
              <!-- <li><a href="contact.html">Contact us</a></li> -->
            </ul>
          </div>

        </div>
      </div>
    </section>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </footer>

  <!-- //copyright -->
  <!-- Template JavaScript -->
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/theme-change.js"></script>
  <!-- owlcarousel -->
  <!-- owl carousel -->
  <script src="../static/js/owl.carousel.js"></script>
  <!-- script for banner slider-->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1
          },
          480: {
            items: 1
          },
          667: {
            items: 1
          },
          1000: {
            items: 1
          }
        }
      })
    })
  </script>
  <!-- //script -->
  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo2").owlCarousel({
        loop: true,
        nav: false,
        margin: 50,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 1,
            nav: false
          },
          991: {
            items: 2,
            margin: 30,
            nav: false
          },
          1080: {
            items: 2,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->
  <!-- owl carousel -->

  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo2").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          1000: {
            items: 1,
            nav: false,
            loop: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->
  <!-- stats number counter-->
  <script src="../static/js/jquery.waypoints.min.js"></script>
  <script src="../static/js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>